* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* tác động chung */
a {
  text-decoration: none;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.header{
  background-color: beige;
}
.main-content {
  width: 117rem;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}
.btn
{
  font-size: 1.6rem;
  padding: 15px 25px;
  min-width: 118px;
  border-radius: 24.5px;
  font-weight: 600;
  line-height: 50px;
  color: white;
  background-color: black;
}
.header.fixed
{
  position: sticky;
  top:-28px;
}
/* tác động riêng */
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  color: black;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}
nav li.active a,.nav a:hover {
  color: black;
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  background-color: black;
  border-radius: 1px;
  position: absolute;
  bottom: 6px;
  left: 20px;
}
.header .btn-action
{
  min-width: 144px;
  margin-left: 49px;
}